.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateLogo {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(180deg);
  }
}

.rotating-logo {
  animation: rotateLogo 10s linear infinite;
  -webkit-animation: rotateLogo 10s linear infinite; /* Safari y Chrome */
  -moz-animation: rotateLogo 10s linear infinite;    /* Firefox */
  -o-animation: rotateLogo 10s linear infinite;      /* Opera */
  transform-origin: center;
  -webkit-transform-origin: center; /* Safari y Chrome */
  -moz-transform-origin: center;    /* Firefox */
  -o-transform-origin: center;      /* Opera */
}


.navbar {
  padding: 0.5rem 1rem;
}

.sidebar{
  width: 18rem;
  height: calc(100vh - 52px);
}

.sidebar ul {
  list-style: none;
  padding: 1rem 2rem;
}

.sidebar ul li {
  margin-bottom: 1rem;
}

.sidebar ul li a {
  text-decoration: none;
}

/* Media Queries para mejorar la responsividad */
@media screen and (max-width: 768px) {
  /* Reglas para dispositivos con ancho de pantalla menor a 768px (tablets y móviles) */
  .App-header {
    font-size: calc(8px + 1.5vmin);
  }

  .navbar {
    padding: 0.5rem 1rem;
  }

  .sidebar {
    width: 100%;
    height: auto;
    border-right: none;
    border-bottom: 1px solid #c4ccde;
  }
}