.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateLogo {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(180deg);
  }
}

.rotating-logo {
  animation: rotateLogo 10s linear infinite;
  -webkit-animation: rotateLogo 10s linear infinite; /* Safari y Chrome */
  -moz-animation: rotateLogo 10s linear infinite;    /* Firefox */
  -o-animation: rotateLogo 10s linear infinite;      /* Opera */
  transform-origin: center;
  -webkit-transform-origin: center; /* Safari y Chrome */
  -moz-transform-origin: center;    /* Firefox */
  -o-transform-origin: center;      /* Opera */
}


.navbar {
  padding: 0.5rem 1rem;
}

.sidebar{
  width: 18rem;
  height: calc(100vh - 52px);
}

.sidebar ul {
  list-style: none;
  padding: 1rem 2rem;
}

.sidebar ul li {
  margin-bottom: 1rem;
}

.sidebar ul li a {
  text-decoration: none;
}

/* Media Queries para mejorar la responsividad */
@media screen and (max-width: 768px) {
  /* Reglas para dispositivos con ancho de pantalla menor a 768px (tablets y móviles) */
  .App-header {
    font-size: calc(8px + 1.5vmin);
  }

  .navbar {
    padding: 0.5rem 1rem;
  }

  .sidebar {
    width: 100%;
    height: auto;
    border-right: none;
    border-bottom: 1px solid #ADD8E6;
  }
}

/* Estilo para el NavBar */
.navbar {
  position: relative;  /* Se necesita un posicionamiento relativo para que el botón pueda posicionarse de forma absoluta dentro de él */
  height: 2.5px;  /* Altura del NavBar */
  background-color: #ADD8E6;  /* Color de fondo del NavBar */
  padding: 20px;  /* Espaciado interno del NavBar */
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);  /* Sombra sutil en el NavBar */
  z-index: 1000; /*  Asegura que la barra esté siempre en la parte superior*/

}

.logoutButton {
  position: absolute;  /* Posicionamiento absoluto para que pueda moverse libremente dentro del NavBar */
  top: 10px;  /* Posición desde el borde superior */
  right: 10px;  /* Posición desde el borde derecho */
  background-color: #8eb9e6;  /* Color de fondo azul para el botón */
  color: #ADD8E6;  /* Color de texto blanco para el botón */
  border: none;  /* Eliminar el borde del botón */
  padding: 5px 15px;  /* Espaciado interno para el botón */
  cursor: pointer;  /* Cambiar el cursor al pasar por encima del botón */
  border-radius: 5px;  /* Bordes redondeados para el botón */
}

.logoutButton:hover {
  background-color: #0056b3;  /* Cambiar el color de fondo a un azul más oscuro al pasar por encima del botón */
}

.sidebar-container {
  display: flex;
  min-height: 100vh;
  align-items: flex-start;
}

.toggle-btn {
  background-color: #ADD8E6;  /* Color de fondo blanco para el botón*/
  border: none;  /* Sin borde*/
  font-size: 24px;  /* Tamaño de fuente*/
  cursor: pointer;  /* Cursor en forma de mano al pasar sobre el botón*/
  z-index: 1000;  /* Asegurarse de que aparezca en la parte superior*/
  position: relative;  /* Posicionamiento relativo para ajustarlo si es necesario*/
}



.sidebar {
  transition: width 0.5s ease-in-out;
  min-height: 100vh;
}

.sidebar.open {
  width: 250px;
}

.sidebar.closed {
  width: 0;
  overflow: hidden;
}
